<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SparkCycleListener.DataModel.Properties.Settings.MfgMachineDataDevConnectionString"
            connectionString="Data Source=SHOPFLOOR\SHOPFLOORSQL;Initial Catalog=MfgMachineDataDev;Persist Security Info=True;User ID=AttSchedUsr;Password=AttSchedUsr"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>